@import './Storybook.css';
@import './DayPicker.css';
@import "./DayPickerInput.css";

body {
  margin: 0;
  font-family: sans-serif;
}

.row {
  display: flex;
}

/*-----------*/
/* Overrides */
/*-----------*/

.DayPicker {
  white-space: nowrap;
}

.example-range .DayPicker-day.is-selected {
  background-color: #E3F2FD;
  color: #2196F3;
}

.example-range .DayPicker-day--from,
.example-range .DayPicker-day--to {
  background-color: #2196F3 !important;
  color: white !important;
}
