body {
  font-family: sans-serif;
}

.container {
  display: flex;
}

.sidebar {
  width: 15rem;
  flex-shrink: 0;
}

.main {
  flex: 1;
}

.row {
  display: flex;
}

/*-----------*/
/* Overrides */
/*-----------*/

.DayPicker {
  white-space: nowrap;
}
