body {
  font-family: sans-serif;
}

.container {
  display: flex;
}

.sidebar {
  width: 15rem;
  flex-shrink: 0;
}

.main {
  flex: 1;
}

.row {
  display: flex;
}

/*-----------*/
/* Overrides */
/*-----------*/

.DayPicker {
  white-space: nowrap;
}

.example-range .DayPicker-day.is-selected {
  background-color: #E3F2FD;
  color: #2196F3;
}

.example-range .DayPicker-day--from,
.example-range .DayPicker-day--to {
  background-color: #2196F3 !important;
  color: white !important;
}

